@use "../styles/mixin" as m;
@use "../styles/variables" as v;

footer {
  background-color: v.$blue-color;
  width: 100%;
  position: absolute;
  .logo img {
    width: 40px;
    height: 60px;
    padding-left: 10px;
  }
  p {
    display: flex;
    justify-content: center;
    color: v.$white-color;
    font-family: v.$font-family;
    letter-spacing: 2px;
    padding: 0 10px;
    text-align: center;
  }
  .social-media {
    margin: 5px;
    display: flex;
    justify-content: center;

    gap: 30px;
    padding: 0 0 15px 0;
  }
  .fa-brands {
    text-decoration: none;
  }
}

@media (min-width: 1000px) {
  footer {
    .logo img {
      width: 60px;
      height: 70px;
    }
    p {
      @include m.fz_vw(18);
    }
    .social-media {
      font-size: 30px;
    }
    .social-p-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2%;
    }
  }
}
