@use "../styles/mixin" as m;
@use "../styles/variables" as v;

.bg-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 180vw;
  height: 100vh;
  opacity: 0.1;
}
.polka {
  background-image: radial-gradient(v.$orange-color 4px, #ffffff 4px);
  background-size: 39px 39px;
  z-index: -3;
}
header {
  background-color: #028391;

  .navbar {
    @include m.flexBetween;
    padding: 0 20px;
  }
  .nav-menu {
    position: fixed;
    left: -115%;
    top: -15px;
    gap: 0;
    background-color: v.$nav-footer;
    width: 100%;
    transition: 0.3s;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 80px;
    z-index: 5;
    padding: 30px 10px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    list-style: none;
    margin: auto 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: v.$white-color;
    @include m.fz_vw(26);
    letter-spacing: 2px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .nav-link {
    transition: 0.2s ease;
    &:hover {
      color: v.$pastel-orange;
    }
  }

  .hamburger {
    cursor: pointer;
    z-index: 6;
    padding: 10px;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: v.$white-color;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-container {
    @include m.flexCenter;
    align-items: center;
    flex-direction: column;
    .profile {
      z-index: 2;
      width: 100%;
      max-width: 250px;
    }
  }
  .content {
    padding: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 95vw;
    background-color: v.$nav-footer;
    z-index: 100;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .animated-text {
    @include m.fz_vw(32);
    font-weight: 600;
    min-width: 280px;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
  }
  .animated-text span {
    position: relative;
    &::before {
      content: "Yui Jensen";
      color: v.$blue-color;
      font-weight: normal;
      -webkit-text-stroke: 1px v.$white-color;
      animation: words 10s infinite;
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 12px);
      height: 100%;
      background-color: v.$blue-color;
      border-left: 2px solid v.$orange-color;
      right: -12px;
      animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
    }
  }
  @keyframes cursor {
    to {
      border-left: 2px solid v.$blue-color;
    }
  }
  @keyframes words {
    0%,
    50% {
      content: "Yui Jensen";
    }
    51%,
    90% {
      content: "Yui Jensen";
    }
  }
  @keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 12px);
    }
  }
  h1 {
    @include m.fz_vw(32);
    color: v.$white-color;
    letter-spacing: 2px;
  }
}

/*Resposive Design*/
@media (min-width: 700px) {
  header {
    padding-bottom: 20px;
    .nav-bar {
      position: sticky;
      background-color: v.$orange-color;
    }
    .nav-menu {
      display: flex;
      position: relative;
      left: auto;
      top: auto;
      flex-direction: row;
      background: transparent;
      padding: 0;
    }
    a {
      line-height: 3;
    }
    .logo {
      padding-top: 15px;
    }
    .header-container {
      flex-direction: row;
    }
    .animated-text,
    h1 {
      @include m.fz_vw(40);
    }
    .sticky {
      width: 97vw;
    }
    .hamburger {
      display: none;
    }
  }
}
@media (min-width: 1000px) {
  header {
    .logo {
      padding-left: 15px;
    }
    .header-container {
      .profile {
        max-width: 350px;
      }
    }
    .nav-item {
      padding-right: 20px;
    }
    .animated-text,
    h1 {
      @include m.fz_vw(60);
    }
    .sticky {
      width: 98vw;
    }
  }
}

@media (min-width: 1700px) {
  header {
    .navbar {
      .logo {
        width: 100px;
        height: auto;
      }
      li a {
        @include m.fz_vw(40);
        letter-spacing: 3px;
      }
    }
    .header-container {
      gap: 120px;
      .profile {
        max-width: 450px;
      }
    }

    .animated-text,
    h1 {
      @include m.fz_vw(90);
    }
  }
}
