@use "../styles/mixin" as m;
@use "../styles/variables" as v;

h3 {
  @include m.fz_vw(20);
  font-weight: normal;
  letter-spacing: 1px;
}
.aboutme {
  @include m.flexCenter;
  flex-direction: column;
  text-align: center;

  h2 {
    @include m.fz_vw(40);
    @include m.subtitle;

    &::after {
      content: "ABOUT ";
      @include m.fz_vw(80);
      @include m.subtitle-back;
    }
  }
  .aboutme-container {
    @include m.flexCenter;
    flex-direction: column;

    .aboutme-img {
      width: 100%;
      max-width: 200px;
    }
    p {
      font-weight: lighter;
      line-height: 2;
      @include m.fz_vw(16);
      letter-spacing: 2px;
      width: 100%;
      max-width: 300px;
      text-align: center;
    }
    p {
      @include m.fz_vw(10);
      font-family: v.$font-family;
      margin: 0 10px 20px;
    }
    span a {
      color: v.$p-color;
      &:hover {
        color: v.$pastel-orange;
      }
    }
  }
}

.quality {
  @include m.flexCenter;
  flex-direction: column;
  text-align: center;

  h2 {
    @include m.fz_vw(30);
    @include m.subtitle;

    &::after {
      content: "Quality ";
      @include m.fz_vw(90);
      @include m.subtitle-back;
      letter-spacing: 6px;
      top: -10px;
    }
  }
  .quality-container {
    display: flex;
    flex-direction: column;
  }

  .exp-edu-box {
    width: 100%;
    max-width: 310px;
    display: flex;
    justify-content: center;

    line-height: 2;
    .arrow {
      padding-left: 10px;
    }
  }
  .exp-edu-info {
    font-family: v.$font-family;
    h4 {
      @include m.fz_vw(13);
    }

    h5 {
      @include m.fz_vw(11);
    }
    p {
      @include m.fz_vw(10);
      padding: 0 0 20px 0;
    }
  }
}

.skills {
  @include m.flexCenter;
  flex-direction: column;
  margin: 0 10px;
  h2 {
    text-align: center;
    @include m.fz_vw(40);
    @include m.subtitle;
    &::after {
      content: "Skills";
      @include m.fz_vw(80);
      @include m.subtitle-back;
      letter-spacing: 6px;
    }
  }
  .skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    font-family: v.$font-family;
    @include m.fz_vw(10);
  }
  .skill-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .percent {
    font-weight: bold;
  }
  .skill-bar {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 25px;
    margin-top: 5px;
  }
  span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: v.$blue-color;
    border-radius: 25px;
  }

  .html,
  .css,
  .figma {
    animation: bar 3s;
    width: 80%;
  }
  .javascript {
    animation: javascript 3s;
    width: 50%;
  }
  .react {
    animation: react 3s;
    width: 40%;
  }
  .adobexd {
    animation: adobexd 3s;
    width: 30%;
  }
}
@keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes javascript {
  0% {
    width: 20%;
  }
  100% {
    width: 50%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes adobexd {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

.gallery {
  @include m.flexCenter;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    text-align: center;
    @include m.subtitle;
    @include m.fz_vw(40);
    &::after {
      content: "GALLERY";
      @include m.fz_vw(80);
      @include m.subtitle-back;
    }
  }

  .project-container {
    @include m.flexCenter;
    flex-direction: column;

    .project-box {
      background-color: rgba(2, 131, 145, 0.8);

      @include m.flexCenter;
      flex-direction: column;
      margin: 20px;

      img {
        padding-top: 20px;
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
      .description {
        @include m.fz_vw(20);
        font-weight: 200;
        text-align: center;
        width: 100%;
        max-width: 250px;
        p {
          color: v.$white-color;
          font-family: v.$font-family;
          @include m.fz_vw(10);
          padding: 0 20px;
          line-height: 2;
        }
        h5 {
          letter-spacing: 2px;
          color: v.$white-color;
        }
      }
      button {
        width: 70px;
        height: 25px;
        font-family: v.$font-family;
        background-color: v.$orange-color;
        border-style: none;
        color: v.$white-color;
        box-shadow: 1px 2px 1px#71250E;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          background-color: #fe7349;
        }
        margin: 10px;

        a {
          @include m.fz_vw(8);
          color: v.$white-color;
        }
      }
    }
    a {
      color: #000;
      text-decoration: none;
      display: block;
      letter-spacing: 2px;
      position: relative;
      @include m.fz_vw(13);
    }
  }
}

.contact {
  @include m.flexCenter;
  text-align: center;
  flex-direction: column;
  h2 {
    @include m.subtitle;
    @include m.fz_vw(40);
    &::after {
      content: "CONTACT";
      @include m.fz_vw(80);
      @include m.subtitle-back;
    }
  }
  .contact-container {
    @include m.flexCenter;
    font-family: v.$font-family;
  }
  form {
    @include m.flexCenter;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
    font-family: v.$font-family;
  }
  input,
  textarea {
    width: 90%;
    max-width: 200px;
    border: 1px solid v.$blue-color;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f9f6f6;
    @include m.fz_vw(10);
  }
}
.btn {
  @include m.btn;
  @include m.fz_vw(10);
  margin: 20px 0;
  &:hover {
    animation: btnMove 3s;
  }
  a {
    color: v.$white-color;
    text-decoration: none;
  }
}
@keyframes btnMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation {
  @include m.animation;
}

@media (min-width: 700px) {
  .aboutme {
    margin: 20px;
    h2 {
      @include m.fz_vw(80);
      &::after {
        @include m.fz_vw(160);
        letter-spacing: 10px;
        top: -15px;
      }
    }

    .aboutme-container {
      flex-direction: row;
      letter-spacing: 1px;
      .aboutme-img {
        width: 100%;
        max-width: 250px;
      }
    }

    .aboutme-info-container {
      h3 {
        @include m.fz_vw(35);
      }
      p {
        @include m.fz_vw(10);
        font-weight: 200;
        max-width: 500px;
      }
    }
  }
  .quality {
    h2 {
      @include m.fz_vw(70);
      &::after {
        @include m.fz_vw(150);
        letter-spacing: 12px;
        top: -20px;
      }
    }
    .quality-container {
      flex-direction: row;
      gap: 50px;
    }

    .exp-edu-container h3 {
      @include m.fz_vw(27);
      letter-spacing: 2px;
    }
    .arrow {
      width: 100px;
      height: 200px;
      padding-top: 20px;
    }
    .box-hotel {
      margin-top: 20px;
    }
    .exp-edu-info {
      h4 {
        @include m.fz_vw(15);
      }

      h5 {
        @include m.fz_vw(13);
      }
      p {
        @include m.fz_vw(11);
      }
    }
  }
  .skills {
    h2 {
      @include m.fz_vw(80);
      &::after {
        @include m.fz_vw(150);
        letter-spacing: 12px;
        top: -15px;
      }
    }
    .skill-main {
      width: 70%;
    }
  }
  .gallery {
    h2 {
      @include m.fz_vw(70);
      &::after {
        @include m.fz_vw(150);
        letter-spacing: 12px;
        top: -20px;
      }
    }
  }
  .contact {
    h2 {
      @include m.fz_vw(80);
      &::after {
        @include m.fz_vw(160);
        letter-spacing: 10px;
        top: -15px;
      }
    }

    input,
    textarea {
      width: 90%;
      max-width: 400px;
    }
  }
}

@media (min-width: 1000px) {
  .aboutme {
    h2 {
      @include m.fz_vw(100);
      &::after {
        @include m.fz_vw(180);
        letter-spacing: 10px;
        top: -15px;
      }
    }
    .aboutme-container {
      gap: 60px;
      .aboutme-img {
        max-width: 350px;
      }
    }
    .aboutme-info-container {
      h3 {
        @include m.fz_vw(45);
      }
      p {
        @include m.fz_vw(15);
      }
    }
  }
  .btn {
    width: 130px;
    height: 50px;
    @include m.fz_vw(18);
  }
  .quality {
    h2 {
      @include m.fz_vw(90);
      &::after {
        @include m.fz_vw(200);
        top: -30px;
      }
    }

    .exp-edu-container h3 {
      @include m.fz_vw(37);
    }
    .exp-edu-box {
      max-width: 450px;
    }
    .arrow {
      height: 250px;
    }
    .box-hotel {
      margin-top: 0;
    }
    .exp-edu-info {
      h4 {
        @include m.fz_vw(20);
      }

      h5 {
        @include m.fz_vw(18);
      }
      p {
        @include m.fz_vw(16);
      }
    }
  }
  .skills,
  .gallery,
  .contact {
    h2 {
      @include m.fz_vw(100);
      &::after {
        @include m.fz_vw(170);
      }
    }
  }
  .skills,
  .skill-main,
  .skill-info,
  p {
    @include m.fz_vw(20);
  }
  .gallery .project-container {
    flex-direction: row;
    .project-box {
      max-width: 100%;
      width: 300px;

      min-height: 400px;
      img {
        width: 200px;
        height: 200px;
      }
      .description {
        @include m.fz_vw(20);
        font-weight: 200;
        text-align: center;
        width: 100%;
        max-width: 250px;
        p {
          @include m.fz_vw(12);
        }
      }
      button {
        width: 100px;
        margin-bottom: 20px;

        a {
          @include m.fz_vw(10);
        }
      }
    }
  }

  .contact {
    input,
    textarea {
      width: 100%;
      max-width: 450px;
      @include m.fz_vw(20);
    }
  }
}
@media (min-width: 1700px) {
  .aboutme {
    h2 {
      @include m.fz_vw(120);
      &::after {
        @include m.fz_vw(200);
      }
    }
    .aboutme-container {
      .aboutme-img {
        max-width: 500px;
      }
    }
    .aboutme-info-container {
      h3 {
        @include m.fz_vw(60);
      }
      p {
        @include m.fz_vw(30);
        max-width: 1000px;
      }
    }
  }
  .btn {
    width: 170px;
    height: 60px;
    @include m.fz_vw(20);
  }
  .quality {
    h2 {
      @include m.fz_vw(100);
      &::after {
        @include m.fz_vw(230);
        top: 0px;
      }
    }

    .exp-edu-container h3 {
      @include m.fz_vw(60);
    }
    .exp-edu-box {
      max-width: 800px;
    }
    .arrow {
      height: 400px;
    }

    .exp-edu-info {
      h4 {
        @include m.fz_vw(40);
      }

      h5 {
        @include m.fz_vw(30);
      }
      p {
        @include m.fz_vw(22);
      }
    }
  }
  .skills,
  .gallery,
  .contact {
    h2 {
      @include m.fz_vw(120);
      &::after {
        @include m.fz_vw(200);
      }
    }
  }
  .skills,
  .skill-main,
  .skill-info,
  p {
    @include m.fz_vw(22);
  }
  .gallery .project-container {
    // a {
    //   @include m.fz_vw(25);
    // }

    .project-box {
      max-width: 100%;
      width: 500px;

      min-height: 500px;
      img {
        width: 300px;
        height: 300px;
      }
      .description {
        text-align: center;
        width: 100%;
        max-width: 500px;
        p {
          @include m.fz_vw(15);
        }
      }
      button {
        width: 150px;
        height: 30px;

        a {
          @include m.fz_vw(13);
        }
      }
    }
  }

  .contact {
    input,
    textarea {
      width: 100%;
      max-width: 700px;
      @include m.fz_vw(22);
    }
  }
}
