@use "../styles/header";
@use "../styles/main";
@use "../styles/footer";
@use "../styles/variables" as v;
@use "../styles/mixin";
@use "../styles/function";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jomhuria", serif;
}
html {
  scroll-behavior: smooth;
}
